* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold-text {
    font-weight: bold;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.titulo {
    color: #1b6bc2;
    font-weight: bold;
    margin: 25px;
}

.infoText {
    font-size: 20px;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.bg-c-purple {
    background: linear-gradient(45deg, #8E54E9, #A16DF3);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .card .card-block {
        padding: 25px;
    }

        .card .card-block h6 {
            font-size: 25px;
            font-weight: bold;
        }

.order-card i {
    font-size: 35px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .table th,
    .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: #fff;
    }

        .table td a {
            text-align: right;
        }

    .table tr:hover {
        background-color: #333;
    }

.btn-lg {
    margin-bottom: 10px;
    font-size: 18px;
}

.btn-dynamic {
    transition: transform 0.3s ease;
}

    .btn-dynamic:hover {
        transform: scale(1.1);
    }
