* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.btn-style {
    background: #1b6bc2;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border-radius: 10px;
}

    .btn-style:hover {
        background: #fff;
        color: #1b6bc2;
        border: 1px solid #1b6bc2;
        transform: scale(1.05);
        font-weight: bold;
    }

.card-services {
    width: 98%;
    height: 100%;
    padding: 1em;
    background: linear-gradient(#ffffff 50%, #1b6bc2 50%);
    background-size: 100% 200%;
    background-position: 0 3%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
}

    .card-services:hover {
        background-position: 0 100%;
        background-color: #ffffff;
        color: #1b6bc2;
    }

        .card-services:hover h4,
        .card-services:hover p {
            color: #ffffff;
        }

        .card-services:hover .btnCard {
            background: #fff;
            color: #1b6bc2;
            border: 1px solid #1b6bc2;
            transform: scale(1.05);
            font-weight: bold;
        }

.card-button {
    display: flex;
    justify-content: center;
}

.btnCard {
    background: #1b6bc2;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border-radius: 10px;
}

.container {
    margin: 10px auto;
    text-align: center;
}

.row {
    justify-content: center;
}

.drop {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.9));
}

.titulo {
    color: #1b6bc2;
    font-weight: bold;
    margin: 25px;
}

.rol {
    color: black;
    font-size: 30px;
    margin: 25px;
}

.btn a {
    color: white;
    text-decoration: none;
}

    .btn a h1 {
        font-weight: bold;
    }

#testimonial_area {
    background-color: #1b6bc2;
}

    #testimonial_area h1 {
        color: white;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin: 45px;
    }

.box-area {
    padding: 30px;
    position: relative;
    display: block;
    background: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0;
    height: 20em;
}

    .box-area h5 {
        font-size: 16px;
        font-weight: 700;
        color: #1b6bc2;
        margin-top: 30px;
        margin-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .box-area span {
        color: #262626;
        display: block;
        font-size: 13px;
        margin: 0 0 10px;
        font-weight: 400;
    }

    .box-area .content {
        color: black;
    }

    .box-area .img-area {
        width: 90px;
        height: 90px;
        position: absolute;
        top: -40px;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        right: 0;
        z-index: 1;
        border: 5px solid #fff;
        border-radius: 50%;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
    }

        .box-area .img-area img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

.stars svg {
    font-size: 1.3em;
    color: #f67034;
}


#testimonial_area .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

#testimonial_area .owl-prev, #testimonial_area .owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #1b6bc2;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    position: absolute;
}

#testimonial_area .owl-prev {
    left: -60px;
    top: -30px;
}

#testimonial_area .owl-next {
    right: -60px;
    top: -30px;
}

.containerP {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 120px;
}

.contact-box {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.left {
    height: 100%;
    background: url(../../Imagenes/USUARIOS/NuevoServicio.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
    filter: brightness(0.6);
}

.right {
    padding: 40px;
}

#tituloP {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

    #tituloP::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 90px;
        border-radius: 2px;
        background-color: #1b6bc2;
    }

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid rgba(30, 33, 38, 0.2);
    font-size: 1.1rem;
    margin-bottom: 11px;
    transition: .3s;
    border-radius: 10px;
}

    .field:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .field:focus {
        background-color: #fff;
        border: 2px solid rgba(30, 33, 38, 0.1);
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.area {
    min-height: 120px;
    resize: none;
}

.btnP {
    width: 80%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #1b6bc2;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    color: #fff;
    transition: all .4s ease-in-out;
    border-radius: 10px;
    margin-top: 15px;
}

    .btnP:hover {
        background: #fff;
        color: #1b6bc2;
        border: 1px solid #1b6bc2;
        transform: scale(1.05);
        font-weight: bold;
    }

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    margin-top: 50px;
}

.carousel__contenedor {
    position: relative;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    top: calc(50% - 40px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: black;
    opacity: 90%;
}

    .carousel__anterior:hover,
    .carousel__siguiente:hover {
        opacity: 100%;
    }

.carousel__anterior {
    left: -30px;
}

.carousel__siguiente {
    right: -30px;
}

.carousel__lista {
    overflow: hidden;
}

.carousel__elemento {
    text-align: center;
}

    .carousel__elemento img {
        height: 200px;
        width: auto;
    }

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;
    border-radius: 0;
}

    .carousel__indicadores .glider-dot:hover {
        opacity: .5;
    }

    .carousel__indicadores .glider-dot.active {
        opacity: 1;
    }

.error-message {
    color: #DC3545;
    font-size: 15px;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px; 
}

    textarea::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }


@media only screen and (max-width: 991px) {
    .owl-nav {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .box-area {
        text-align: center;
    }

    .owl-nav {
        display: none;
    }
}

@media (max-width: 991px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 2fr;
    }

    .left3,
    .left4 {
        height: 200px;
    }

    .right {
        width: 100%;
    }
}